[workspace]
resolver = "2"
members = ["game_api", "ladder_score", "records_lib", "socc", "admin"]

[workspace.dependencies]
thiserror = "1.0.40"
tokio = "1.36.0"
async-graphql = "7.0.3"
sqlx = "0.7.2"
chrono = { version = "0.4", features = ["serde"] }
deadpool = { version = "0.11.2", features = ["managed", "rt_tokio_1"] }
deadpool-redis = { version = "0.15.0", features = ["rt_tokio_1"] }
serde = "1.0.126"
serde_json = "1.0.96"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
actix-web = "4.3.0"
actix-cors = "0.7.0"
async-graphql-actix-web = "7.0.3"
tracing-actix-web = "0.7.2"
reqwest = { version = "0.12.3", features = ["json"] }
rand = "0.8.5"
futures = "0.3.27"
sha256 = "1.1.3"
actix-session = { version = "0.9.0", features = ["cookie-session"] }
anyhow = "1.0.75"
dotenvy = "0.15.7"
itertools = "0.12.1"
once_cell = "1.18.0"
clap = { version = "4.5.4", features = ["derive"] }
csv = "1.3.0"
mkenv = "0.1.6"
records-lib = { version = "0.1.0", path = "./records_lib" }
